div{
    outline: 1px solid lime;
}
.container{
    width: 920px;
    margin-left: auto;
    margin-right: auto ;
}
.header{
    background: blue;
    height:200px;
    width:920px;
}
.content1{
    background-color: green;
    height:150px;
    width:920px;
}
.yellowboxes{
    background-color:yellow;
    height:100px;
    width:430px;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
}
.redbox{
    background-color: red;
    height: 350px;
    width: 920px;
   
}
.yellowboxes2{
    background-color:yellow;
    height:300px;
    width:430px;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
    
}