div{
    outline: 1px solid lime;
}
.container{
    width:920;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: blue;
    height:200px;
    width:920px;
    
}
.redboxes{
    background-color: red;
    height:300px;
    width:306px;
    float:left;
    
}
.footer{
    background-color:green;
    height:200px;
    width:920px;
    float:left;
}