@import url('https://fonts.googleapis.com/css?family=Roboto');

div{
    outline: 1px solid lime;
}
body{
    background-color: #fFfFfF;
    margin:0;
    font-family: 'Lato', sans-serif;
}

.logo{
    margin-top:60px;
    font-size: 2.5rem;
    text-align: center;
}
.nav{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}
.menu{
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 60px;
    
}
.menu a{
    color: #000;
    text-decoration: none;
    text-align: center;
    font-weight: 200;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 70px;
    margin-right: 70px;
    position: relative;
    margin-bottom: 70px;
    
}
.menu a:hover{ 
    border-bottom: 5px solid black;
    padding-bottom: 16px;
}

.background{
    background-color: white;
    height: 768px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-top: -100px
    
}

.square{
    width: 150px;
    height: 2px;
    background-color: black;
    margin-top: 60px;
    margin-left: 250px;
    float: left;
}
.square2{
    width: 150px;
    height: 2px;
    background-color:#333333;
    margin-top: 60px;
    margin-left: 250px;
    float: left;
}
p1{
    font-size: 2rem;
    font-weight: 100;
}
.title1{
    margin-top: 45px;
    float: left;
    margin-left: 20px;
}
.service{
    height: 600px;
    background-color: #b6b6b6;
}
.services{
    width: 900px;
    height: 600px;
    background-color:#b6b6b6; 
    margin-left: auto;
    margin-right: auto;
}
.boxes{
    height: 500px;
    width: 100%;
    float: left;
}
.box1{
    height: 400px;
    width: 33.3%;
    float: left;
    margin-top: 50px;
}
.title2{
    margin-top: 45px;
    float: left;
    margin-left: 20px;
    color: #333333;
}
.box2{
    height: 170px;
    padding: 7px;
}
.box3{
    height: 170px;
}
.box4{
    height: 170px;
    margin-top: -67px;
    padding: 7px;
}
.bulb{
    width: 25%;
    float: left;
}
.textbox1{
    width: 75%;
    float: right;
}
h3{
    color: #333333;
}
p3{
    color: #333333;
    font-weight: lighter;
    font-size: 0.9rem;
}
.bulb{
    width: 25%;
    margin-top: 25px;
    float: left;
}
.screen{
    width: 25%;
    float: left;
    margin-top: 25px;
}
.pencil{
    width: 25%;
    float: left;
    margin-top: 25px;
}
>logo{
    width: 25%;
    float: left;
    margin-top: 25px;
}